  </main> <!-- close main -->

  <!-- FOOTER -->
  <footer class="bg-dark text-light text-center py-3 mt-5">
    <p>© 2025 Leo Dalati</p>
    <p>
      <a href="https://github.com/YourGitHubUsername" class="text-light me-3">
        <i class="fab fa-github"></i> GitHub
      </a>
      <a href="https://linkedin.com/in/YourLinkedInUsername" class="text-light">
        <i class="fab fa-linkedin"></i> LinkedIn
      </a>
    </p>
  </footer>

  <!-- JS -->
   <script src="/javascripts/video.js"></script>
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
