<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>

  <!-- CSS links -->
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/aboutme.css" />
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/node_modules/@fortawesome/fontawesome-free/css/all.min.css" />
</head>

<body>
  <!-- Navbar (reuse same one as index.ejs) -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Portfolio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item"><a class="nav-link" href="/home">Home</a></li>
          <li class="nav-item"><a class="nav-link active" href="/aboutMe">About Me</a></li>
          <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
          <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page content -->
  <div class="container mt-4" id="wrapper">
    <h1>Little about myself</h1>

    <figure class="text-center">
      <h2>This is a picture of me!</h2>
      <img src="/images/photo of me.jpg" width="150" height="200" class="rounded" alt="Photo of me">
      <figcaption>
        <p class="mt-3">
          I am 18 years old and I like to spend my time staying active and in good shape.
          I play sports such as pickleball, soccer, basketball and many others.
        </p>
      </figcaption>
    </figure>

    <div class="text-center">
      <h2>Here is a video of me talking about myself and my lifestyle.</h2>
      <video width="480" height="360" controls poster="/images/photo of me.jpg" preload="auto">
        <source src="/videos/VideoOfMyselfR.mp4" type="video/mp4">
      </video>
      <br>
      <button onclick="playPause()" class="btn btn-primary mt-2">Play/Pause Video</button>
    </div>
  </div>

  <!-- JS -->
  <script src="/node_modules/jquery/dist/jquery.min.js"></script>
  <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="/javascripts/video.js"></script>
</body>
</html>
