/* ===== Section Layout ===== */
section {
  padding: 100px 0;
  min-height: 100vh;
}

/* ===== HOME ===== */
#home h1 {
  text-align: center;
  font-size: 50px;
}

/* ===== ABOUT ME ===== */
#aboutMe {
  background: linear-gradient(135deg, #424242, #535353, #464646);
  color: white;
}

#aboutMe h1 {
  text-align: center;
  margin-left: 40px;
  margin-bottom: 50px;
  font-size: 50px;
}

#aboutMe video {
  display: block;
  margin-left: 40px;
}

#aboutMe button {
  display: block;
  height: 40px;
  margin-left: 40px;
  margin-top: 10px;
}

#aboutMe h4 {
  margin-left: 40px;
}

/* ===== PROJECTS ===== */
#projects {
  background: linear-gradient(to right, #EDEA51, #75ED51, #B7ED51, #EDD751, #0EF52F, #D2EDA0);
  color: #222;
}

#projects h1 {
  margin-left: 40px;
  margin-bottom: 50px;
}

#projects h4 {
  margin-left: 40px;
}

/* ===== CONTACT ===== */
#contact {
  background: linear-gradient(45deg, #ffcccc, #ccffff);
  color: #222;
}

#contact h1 {
  text-align: center;
  margin-bottom: 20px;
}

#contact form {
  max-width: 600px;
  margin: 0 auto;
}

#contact input,
#contact textarea {
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 8px;
  width: 100%;
  margin-bottom: 10px;
}

/* ===== FOOTER ===== */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  padding: 20px 0;
}
